<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Document</title>
  <style>
    form{
      border:2px solid black;

    }
    .container{
      margin-top: 8%;
    }
  </style>
</head>
<body>
  {% block content %}
 
 
  <h2 class="text-center" style="margin-top: 3%;">Forgot Password</h2>
  <hr size="5" color="black">
  <div class="container">
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <form method="post" class="shadow-lg px-3 py-3">
          {% csrf_token %}
          <label for="email" style="font-weight: 600;">Email:</label>
          <input type="email" name="email" required class="form-control">
          <div class="text-center mt-3 text-danger" style="font-weight: 600;">
            {% if error %}
              <p>{{ error }}</p>
            {% endif %}
          </div>
          <center>
          <input type="submit" value="Submit" class="btn bg-success mt-3 text-white"  style="font-weight: 600;">
        </center>
        </form>
       
      </div>
    </div>
  </div>
  <div class="text-center text-success mt-5" style="font-size: 20px;font-weight: 600;">
    {% if success %}
    <p>{{ success }}</p>
  {% endif %}
</div>
{% endblock %}
</body>
</html>
