
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Super admin homepage</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body >
  <style>
    
    </style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      
      <li><a href="/clientform/">Client Form</a></li>
      <li><a href="/taskcreation/">Task Requriments Form</a></li>
      <li><a href="/u_report/">Report Form</a></li>
      
      <li><a href="/viewclientdetails/">Client Details</a></li>
      <li><a href="/taskdata/">Task Details</a></li>
      <li><a href="/reportdata/">Report Details</a></li>
      <li><a href="/login/" >Logout</a></li>
      
    </ul>
  </div>
</nav>
 
      

{% block content %}
{% endblock %}



</body>
</html>
