<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task creation</title>
    {% include 'cdnlines.html' %}
    
<style>
    body{
        background-color:aliceblue;
    }
    /* form{
        background-color:rgb(155, 187, 213);
    } */
</style>
</head>
<body>
    <h5 style="background-color: black;padding: 10px;">
        <a href="/homepage/" style="margin-left: 10px;color: white;padding: 20px;">Back</a>
        <a href="/login/" style="margin-left: 990px;color: white;">Logout</a>
        </h5>
    
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form method="POST" id="det" name="form1" onsubmit="required()" class="shadow-lg px-4 py-4 mt-5" style="font-size: 18px; ">
                {% csrf_token %}    
                    <h2 class="text-center">Client Requirements</h2>
                    <br>
                 <label>Client Name:</label>   
                <select name="name">
                    
                        {% for person in people %}
                        <option value="{{ person.clientname }}">{{ person.clientname }}</option>
                        {% endfor %}
                     
                </select><br>
            
                <label>Campaign Name : </label>
                <input type="text"  required class="form-control" name="campaign_name">
                <label>Start Date:</label>
                <input type="date"  required id="start-date" class="form-control" name="start_date">
                <label>End Date:</label>
                <input type="date" id="end-date" required class="form-control" name="end_date">
                <label>Planned Impressions : </label>
                <input type="number" min="1" class="form-control" name="planned_impressions">
                <label>Planned CPM : </label>
                <input type="number" min="1" class="form-control" name="planned_cpm">
                <label>Planned CPC : </label>
                <input type="number" min="1" class="form-control" name="planned_cpc">
                <label>Planned Cost : </label>
                <input type="number" min="1" class="form-control" name="planned_cost">
                
                <label>Client Id: </label>
                <input type="number" min="0" class="form-control" name="deptid_id">
                    
                <center class="mt-3">
                <input onclick="Sub()" id="sub" type="submit" value="SUBMIT" class="btn bg-success text-white">
                <input type="reset" value="Clear" id="clr" class="ml-3 btn bg-danger text-white">
                </center>
               
                </form>
            </div>
        </div> 
    </div>
        
    </div>
    </body>
    <script>
        const startDateInput = document.getElementById("start-date");
        const endDateInput = document.getElementById("end-date");

startDateInput.addEventListener("change", () => {
  const startDateValue = startDateInput.value;
  endDateInput.min = startDateValue;
});


    </script>

    <!--script for success pop up when client form is submitted-->

    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        m='{{message}}';
        swal("success",m,"success")
    </script>
    {% endif %}
    {% endfor %}

    <!--script for deinied pop up when same employee id is registered-->
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        m='{{message}}';
        swal("denied!",m,"error")
    </script>
    {% endif %}
    {% endfor %}


</body>
</html>